.about {
  background-color: #1d1b1b;
}

.main1 {
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 15vh;
  text-align: center;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}

a {
  color: white;
  display: block;
}

p {
  align-self: flex-start;
}

.about-us {
  text-align: center;
  background-color: #ff6a00;
  padding: 80px 20px;
}

.who-we {
  padding: 80px 20px;
  color: white;
  text-align: center;

  ul {
    list-style: none;
    margin: 0;
  }
}

.goal {
  background: url(https://i.pinimg.com/1200x/eb/65/22/eb6522dc39ec927fbe263af79ee9f71f.jpg);
  color: white;
  text-align: center;
  padding: 80px 20px;
  background-position: center;
  opacity: 0.70;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

#web-animation-api .text-xl {
  font-size: 1.5rem;
  color: currentColor;
  letter-spacing: 0.06em;
}
